

body {
	
	position: relative;
	left: -300px;
	top:-50px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F1F5F8;
	
}

#tcoc_page {
    
    
      margin: 400px; 
 margin-top:200px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 1258px;
   color : black;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}

#atmom_page {
     margin: 400px; 
  margin-top:200px;
  
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 1258px;
   color : black;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}

#anal_page {
   
  
 margin: 400px; 
  margin-top:200px;
  
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 1258px;
   color : white;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
    
}

#amb_page {
    
     margin: 300px; 
  margin-top:200px;
  
  display: block; 
  height:auto;
  position: relative; 
  
  overflow:auto; 
  width: 100%;
   color : black;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}

#graph_page {
     margin: 600px; 
  margin-top:200px;
  
 
}

table, th, td {
   border: 1px solid black;
   padding-left: 10px;
   padding-right: 10px;
   overflow: auto;
   text-align: left;
   
  
   
}




.about_b{

     background: 		#FFFFE0;
}

.anal_b{
    
    background: 		#FFFFE0;
}

.tsoi_b {
    background: 		#FFFFE0;
}

.tcoc_b {
    	background :#FFFFE0;
}

.atmom_b{
    background:	#FFFFE0;
}

#about_page{
  margin-top:500px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 758px;
   color : white;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}


#tsoi_page {
       margin: 400px; 
 margin-top:200px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 1258px;
   color : black;
    z-index: -1;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}



#page
{
   margin: 600px; 
  margin-top:200px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 758px;
   color : white;
    z-index: -1;
    
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: left;
    line-height: 1.2;
}


#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}



#master_bar {
 background-image:url(creepy.jpg);
background-size: cover;
position: fixed;
right: 0px;
width:100%;
top: 0px;
height:75px;
float: right;
line-height:75px;
background-repeat: no-repeat;

    
}

#master_bar a {
 font-size:16px;
font-weight:bold;
color:#FBFDFB;
margin-left:40px;
margin-right:40px
}


.matt {
   
    
}

.matt_image {
    position: relative;
    float: left;
    width: 320px;
    
    border: 5px solid gray;
    margin-right:10px;    
}

.patt {
    
}

.patt_image {
position: relative;
    float: left;
    width: 320px;
    
    border: 5px solid gray;
    margin-right:10px;      
    
}

.evan_image {
    
position: relative;
    float: left;
    width: 320px;
    
    border: 5px solid gray;
    margin-right:10px;  
}
.evan {
    
    
}

.credit {
    
    
}
.hr {
    margin-top: 200px;
    
}

.methodology {
    
}